<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .background-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .page-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 100vh;
            z-index: 0;
        }

        .container {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .button-container {
            z-index: 30;
            position: absolute;
            bottom: 20px;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 200px; /* Adjust height as needed */
          /*  background-color: white;*/
          /*  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);*/
        }

        .button {
            position: relative;
            display: block;
            background: transparent;
            width: 200px;
            height: 100px;
            line-height: 80px;
            text-align: center;
            font-size: 20px;
            text-decoration: none;
            text-transform: uppercase;
            color: #e04e5e;
            margin: 20px;
            font-family: Helvetica, Arial, sans-serif;
            box-sizing: border-box;
        }

            .button:before,
            .button:after {
                position: absolute;
                content: '';
                width: 300px;
                left: 0px;
                height: 34px;
                z-index: -1;
            }

            .button:before {
                transform: perspective(15px) rotateX(3deg);
            }

            .button:after {
                top: 40px;
                transform: perspective(15px) rotateX(-3deg);
            }

            /* Button Border Style */

            .button.border:before,
            .button.border:after {
                border: 4px solid #e04e5e;
            }

            .button.border:before {
                border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
            }

            .button.border:after {
                border-top: none; /* to prevent the border-line showing up in the middle of the shape */
            }

            /* Button hover styles */

            .button.border:hover:before,
            .button.border:hover:after {
                background: #e04e5e;
            }

            .button.border:hover {
                color: #fff;
            }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    @*<link rel="stylesheet" href="styles.css">*@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="page-container">
        <div class="container">
            <img class="background-image active" src="~/Images/Image3.jpg" alt="Background Image">
        </div>
    
            <div class="button-container">
                <a href="#" class="button ribbon-outset border">Button 1</a>
                <a href="#" class="button ribbon-outset border">Button 2</a>
                <a href="#" class="button ribbon-outset border">Button 3</a>
                <a href="#" class="button ribbon-outset border">Button 4</a>
            </div>
    
    </div>


</body>

</html>
